/* Universal styles */

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #f1f1f1;
	font-family: Roboto,arial,sans-serif;
	font-size: 13px;
}

.content-wrapper {
	padding: 10px;
}

/* Profile Layout */

#profile {
	background-color: #fff;
	height: 100vh;
	min-height: 100px;
	position: fixed;
	box-shadow: 1px 0px 2px rgba(0,0,0,.15);
	width: 20%;
}

#profile .content-wrapper div {
	margin: 10px 0;
}

#profile #profile-name {
	text-align: center;
	font-size: 30px;
}

#profile .profile-data {
	border-top: 1px solid #e2e2e2;
}

#profile .profile-data .profile-data-label,
#profile .profile-data .profile-data-value {
	margin: 5px 0;
}

#profile .profile-data .profile-data-label {
	width: 35%;
	float: left;
}

#profile .profile-data .profile-data-value {
	width: 65%;
	float: right;
}

#profile #profile-image-wrapper img {
	display: block;
	margin: 0 auto;
	width: 60%;
}

/* Data Output Layout */

#main {
	float: left;
	width: 60%;
	margin-left: 20%;
}

#main .card {
	background-color: #fff;
	box-shadow: 0px 1px 2px rgba(0,0,0,.15);
	width: 600px;
	margin: 20px auto;
	padding: 15px;
	font-size: 14px;
}

/* Right Panel Layout */

#right {
	float: right;
	width: 20%;
}