/* Universal styles */

* {
	padding: 0;
	margin: 0;
}

body {
	font-size: 1.1em;
	background-color: rgba(0,0,0,.01);
}

/* Profile Layout */

#profile {
	background-color: #fff;
	height: 100vh;
	width: 25%;
	min-height: 100px;
	float: left;
	position: fixed;
	box-shadow: 1px 0px 8px 0px rgba(0,0,0,.35);
}

#profile > div {
	margin-top: 20px 0;
}

#profile #profile-name {
	font-size: 2em;
	text-align: center;
}

#profile #profile-image-wrapper {
	
}

#profile #profile-image-wrapper img {
	margin: 0 auto;
}

/* Data Output Layout */

#output {
	float: right;
	width: 75%;
}

#output .card {
	background-color: #fff;
	box-shadow: 1px 1px 8px 0px rgba(0,0,0,.35);
	width: 600px;
	margin: 20px auto;
	padding: 15px;
}