/* Universal styles */

* {
	padding: 0;
	margin: 0;
}

body {
	background-color: #f1f1f1;
	font-family: Roboto,arial,sans-serif;
	font-size: 13px;
}

/* Profile Layout */

#profile {
	background-color: #fff;
	height: 100vh;
	width: 20%;
	min-height: 100px;
	float: left;
	position: fixed;
	box-shadow: 1px 0px 2px rgba(0,0,0,.15);
}

#profile > div {
	margin-top: 20px;
}

#profile #profile-name {
	text-align: center;
	font-size: 20px;
}

#profile #profile-image-wrapper {
	
}

#profile #profile-image-wrapper img {
	margin: 0 auto;
}

/* Data Output Layout */

#main {
	float: left;
	width: 60%;
}

#main .card {
	background-color: #fff;
	box-shadow: 0px 1px 2px rgba(0,0,0,.15);
	width: 600px;
	margin: 20px auto;
	padding: 15px;
	font-size: 14px;
}

/* Right Panel Layout */

#right {
	float: right;
	width: 20%;
}